@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

body{
	background: #fafafa;
	font-size: 14px;
}
.logo img{
	display: block;
margin: 0 auto 35px;
}
form input[type="text"]{
	margin-bottom: 5px;
	width: 100%;
	background: #fafafa;
	border: 1px solid #efefef;
	font-size: 12px;
	border-radius: 3px;
	color: #262626;
	padding: 10px;
}

 form input[type="password"]{
	margin-bottom: 5px;
}

form input[type="password"]{
	width: 100%;
	background: #fafafa;
	border: 1px solid #efefef;
	font-size: 12px;
	border-radius: 3px;
	color: #262626;
	padding: 10px;
}

 form input[type="text"] form input[type="password"]:focus{
	border: 1px solid #b2b2b2;
 }
 
 
form button{
	margin: 10px 0;
	background-color: #3897f0;
    border: 1px solid #3897f0;
    border-radius: 4px;
    text-align: center;
    padding: 5px 120px 5px 120px;
}

 form button {
	color: #fff;
	display: block;
 }
 
 .top {
	 background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 40px 40px 20px; 
	 
 }
 
.header{
	max-width: 350px;
	width: 100%;
	height: auto;
	margin: 50px auto;
}


.signup{
	background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    padding: 40px 40px 20px;
}
.header .or{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15px;
	margin: 15px 0 20px;
}

.header .or .line{
	width: 105px;
	height: 2px;
	background: #efefef
}

 .header .or p{
	color: #999;
	font-size: 12px;
}

 .dif .fb{
	display: flex;
	justify-content: center;
	align-items: center;
}

 .dif .fb img{
	width: 16px;
	height: 16px;
}

 .dif  .fb p{
	color: #385185;
	font-weight: 500;
	margin-left: 10px;
}

 .dif .forgot{
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
}

 .dif .forgot a{
	color: #003569;
}

.signup{
	margin: 10px 0 20px;
	padding: 25px 40px;
	text-align: center;
	color: #262626;
}

.signup a{
	color: #3897f0;
}

 .apps{
	text-align: center;
	color: #262626;
}

 .apps p{
	margin-bottom: 20px;
}

 .apps a img{
	width: 135px;
	height: 40px;
	margin: 0 5px;
}



